@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

.line-heading {
    position: relative;
}

.line-heading::before {
    position: absolute;
    display: block;
    content: '';
    height: 1.9px;
    background-color: #42BEFA;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    left: -220px;
    pointer-events: none;
}

@media (max-width: 640px) {
    .line-heading::before {
        left: -205px;
    }
}

.insight-swiper {
    position: static !important;
}

@media (min-width: 600px) {
    .insight-swiper .swiper-pagination {
        top: 4.25rem !important;
        width: fit-content !important;
        height: fit-content;
        right: 30% !important;
        left: unset !important;
    }
}

@media (max-width: 600px) {
    .insight-swiper .swiper-pagination {
        bottom: 2rem !important;
    }
}

.insight-swiper .swiper-pagination-bullet {
    background: #E2E2E2;
    opacity: 1;
}

.insight-swiper .swiper-pagination-bullet-active {
    background: #1B1F38;
}

.work-blog-card .work-detail {
    transition: all .6s ease-in-out;
}

.work-detail::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #1b1f38;
    z-index: -1;
    bottom: 0;
    transform: translateY(120%);
    transition: all .4s ease-in-out;
}

.work-blog-card:hover .work-detail {
    padding: 1.25rem 1rem;
}

@media (max-width: 620px) {
    .work-blog-card:hover .work-detail {
        padding: 12px .8rem;
    }
}

@media (max-width: 600px) {
    .work-detail svg {
        height: 14px;
        width: 26px
    }
}

.work-blog-card:hover .work-detail::after {
    transform: translateY(0);
}

.work-blog-card:hover p,
.work-blog-card:hover figcaption {
    color: #f8f8f8;
}