@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

.line-heading {
    position: relative;
}

.line-heading::before {
    position: absolute;
    display: block;
    content: '';
    height: 1.9px;
    background-color: #42BEFA;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    left: -220px;
    pointer-events: none;
}

@media (max-width: 640px) {
    .line-heading::before {
        left: -205px;
    }
}

.insight-swiper {
    position: static !important;
}

@media (min-width: 600px) {
    .insight-swiper .swiper-pagination {
        top: 4.25rem !important;
        width: fit-content !important;
        height: fit-content;
        right: 30% !important;
        left: unset !important;
    }
}

@media (max-width: 600px) {
    .insight-swiper .swiper-pagination {
        bottom: 2rem !important;
    }
}

.insight-swiper .swiper-pagination-bullet {
    background: #E2E2E2;
    opacity: 1;
}

.insight-swiper .swiper-pagination-bullet-active {
    background: #1B1F38;
}